*{
    font-family:'Montserrat', sans-serif;
    font-size: 0.95rem;
}

nav,
.links{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
}

nav{
    justify-content: space-between;
    background-color:cadetblue;
}

nav{
    margin: 0 1.5rem 1.5rem 1.5rem;
    justify-content: space-between;
}


.links li{
    font-size: 0.7rem;
    margin-right: 1rem;
    color: hsl(0, 0%, 41%);
}
h1 {
    font-family:'Montserrat', sans-serif;
    font-size:3rem;
    color:darkblue
    
}

body {
    background-color:#b6dbdb
    
  }

main h2{
    font-size: 2rem;
}

main p{
    font-size: 0.7rem;
    
    color:black;
    line-height: 0.9rem;
}
.text-side{
    margin-top: 3rem;
}
.image-side img{
    width: 500px;
    height: 350px;
}
.image-side2 img{
    width: 200px;
    height: 136px;
}
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
    align-items: center;
    justify-content: center;
    margin-left: 8rem;
}
.desktop-img{
    display:block;
}
.mobile-image{
    display: none;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    margin-top: 5.5rem;
    background-color: cadetblue;
}
.copyright a{
    color: black;
    font-size: 0.7rem;
    
}

/*small tablet styles */
@media screen and (max-width:600px){
    main p{
        font-size: 0.7rem;
        width: 10rem;
        color:black;
        line-height: 0.9rem;
    }
}
/*@media screen and (min width: 1400px) {
    main p{
        font-size: 0.7rem;
        width: 60rem;
        color:black;
        line-height: 0.9rem;
    }
}